[project]
	description = "Just a proof of concept  to index a git repo in elastic search"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cylol
[access "refs/for/refs/*"]
	read = group user/cylol
	push = group user/cylol
	label-Code-Review = -2..+2 group user/cylol
	label-Verified = -1..+1 group user/cylol
	rebase = group user/cylol
	removeReviewer = group user/cylol
	submit = group user/cylol
[access "refs/heads/*"]
	read = group user/cylol
	create = group user/cylol
	push = +force group user/cylol
	pushMerge = group user/cylol
[access "refs/tags/*"]
	push = +force group user/cylol
	pushTag = group user/cylol
	pushSignedTag = group user/cylol
